version: "3.7"
services:

  postgres:
    container_name: my-postgres3
    image: postgres:latest
    restart: unless-stopped
    environment:
      GUACAMOLE_HOSTNAME: guacamole
      POSTGRES_HOSTNAME: postgres
      NGINX_HOSTNAME: nginx
      GUACD_HOSTNAME: guacd
      PGDATA: /var/lib/postgresql/data/guacamole
      POSTGRES_DB: guacamole_db
      POSTGRES_PASSWORD: guacamole1234567890
      POSTGRES_USER: guacamole_user
      GUACAMOLE_HOME: /etc/guacamole
    volumes:
      - ./guacamole:/etc/guacamole
      - ./pginit:/docker-entrypoint-initdb.d
      - ./pgdata:/var/lib/postgresql/data
#  below for debug 
#    networks:
#      #- guacamole-network
#      - external
#      - internal
#    extra_hosts:
#     - "local_dev:192.168.1.150"
    network_mode: "host"

  guacd:
    container_name: my-guacd3
    image: guacamole/guacd:latest
    restart: unless-stopped
    environment:
      GUACAMOLE_HOSTNAME: guacamole
      POSTGRES_HOSTNAME: postgres
      NGINX_HOSTNAME: nginx
      GUACD_HOSTNAME: guacd
      POSTGRES_DATABASE: guacamole_db
      POSTGRES_PASSWORD: guacamole1234567890
      POSTGRES_USER: guacamole_user
    network_mode: "host"

#  below for debug 
#    networks:
#     # - guacamole-network
#      - external   
#      - internal
#    extra_hosts:
#     - "local_dev:192.168.1.150"
#      - guacamole-network
#    ports:
#      - "7:7"
#      - "9:9"
#    network_mode: host  # ホストのネットワークでコンテナを実行

  guacamole:
    container_name: my-guacamole3
    image: guacamole/guacamole:latest
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      GUACAMOLE_HOSTNAME: guacamole
      POSTGRES_HOSTNAME: postgres
      NGINX_HOSTNAME: nginx
      GUACD_HOSTNAME: guacd
      GUACAMOLE_HOME: /etc/guacamole
      POSTGRES_DATABASE: guacamole_db
      POSTGRES_PASSWORD: guacamole1234567890
      POSTGRES_USER: guacamole_user
      GUACAMOLE_HOME: /etc/guacamole
    volumes:
      - ./guacamole:/etc/guacamole
    depends_on:
      - postgres
      - guacd
#  below for debug 
#    networks:
#     # - guacamole-network
#      - external   
#      - internal
    network_mode: "host"

  nginx:
    container_name: my-nginx3
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      GUACAMOLE_HOSTNAME: guacamole
      POSTGRES_HOSTNAME: postgres
      NGINX_HOSTNAME: nginx
      GUACD_HOSTNAME: guacd
      GUACAMOLE_HOME: /etc/guacamole
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./opt/nginx/certs:/opt/nginx/certs
      - ./etc/hosts:/etc/hosts
    network_mode: "host"
#  below for debug 
#    networks:
#     # - guacamole-network
#      - external  
#      - internal
#
#networks:
#  guacamole-network:  
#    driver: bridge
#  internal:
#    internal: true
#  external:
#    name: guacamole-network
#    #external: true
